---
interface FeatureList {
  icon: string;
  title: string;
  description: string;
}

interface Props {
  featureList: Array<FeatureList>;
}

const { featureList } = Astro.props;
---

<div
  class="max-w-[85rem] bg-white py-10 px-8 lg:px-16 lg:py-14 mx-auto"
>
  <div class="grid sm:grid-cols-1 lg:grid-cols-3 items-center gap-12">
    {
      featureList?.map((item) => (
        <div class="w-full h-full bg-white shadow-lg rounded-lg p-5">
          <div class="flex items-center gap-x-4 mb-3">
            <div class="inline-flex justify-center items-center w-[62px] h-[62px] rounded-full border-4 border-orange-50 bg-orange-200">
              <img
                src={`assets/images/${item.icon}`}
                alt=""
                class="w-7 h-7"
              />
            </div>
            <div class="flex-shrink-0">
              <h3 class="block text-lg font-semibold text-gray-800 dark:text-white">
                {item.title}
              </h3>
            </div>
          </div>
          <p class="text-gray-600 dark:text-gray-400">{item.description}</p>
        </div>
      ))
    }
  </div>
</div>
