---
interface Props {
  index: number;
  image: string;
  title: string;
  description: string;
  actionButton: string;
}

const { index, title, image, description, actionButton } = Astro.props;
---

<!-- Features -->
<div class="max-w-[85rem] bg-white py-10 px-8 lg:px-16  lg:py-14 mx-auto">
    <!-- Grid -->
    <div class="md:grid md:grid-cols-2 md:items-center md:gap-12 xl:gap-32">

      <div class={`${index.toString() === "0" ? 'order-last' : 'order-first'}`}>
        <img
            class="rounded-xl"
            src={`assets/images/${image}`}
            alt="Image Description"
        />
    </div>

      <!-- End Col -->
  
      <div class="mt-5 sm:mt-10 lg:mt-0">
        <div class="space-y-6 sm:space-y-8">
          <!-- Title -->
          <div class="space-y-2 md:space-y-4">
            <h2 class="font-bold text-3xl lg:text-4xl text-gray-800 dark:text-gray-200">
              { title }
            </h2>
            <p class="text-gray-500">
            { description }  
            </p>
           
          </div>
          <!-- End Title -->
          <button class="px-8 py-3 bg-orange-500 text-lg text-white rounded-lg font-semibold">{actionButton}</button>
        </div>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Grid -->
  </div>
  <!-- End Features -->
